@import 'vars';
@import 'global';
@import 'fonts';


//start header
.header__top{
    background-color: $bg;
    height: 100px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    &-btn{
        margin-left: auto;
        margin-right: 20px;
        a{
            text-align: center;
            min-width: 140px;
            font-size: 14px;
            border-radius: 25px;
            background-color: $btn;
            cursor: pointer;
            padding: 8px 10px;
            color: #fff;
        }
    }
    &-icons{
        width: 165px;
        display: flex;
        justify-content: center;
        text-align: center;
        a{
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 16px;
        }
    }
}
.inner__user{
    &-photo{
        max-height: 50px;
        max-width: 50px;
        margin-right: 24px;
        margin-left: 20px;
        a{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    &-info{
        &-name{
            line-height: 22px;
            color: #333;
            font-weight: 600;
        }
        &-maney{
            color: $btn;
        }
        a{
            font-size: 15px;
            display: block;
        }
    }
}
.header__icons{
    position: relative;
    span{
        display: flex;
        align-items: center;
        font-size: 14px;
        top: -14px;
        right: -17px;
        position: absolute;
        padding: 0px 7px;
        border-radius: 50%;
        line-height: 20px;
        color: #fff;
    }
}
.inner__icons-alarm{
    span{
        background-color: #ff6a6c;
    }
}
.inner__icons-email{
    span{
        background-color: #62d03b;
    }
}
.inner__icons-cart{
    span{
        background-color: $btn;
    }
}
.header__icons-box{
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 41px;
    margin-top: 41px;
    text-align-last: left;
    &:hover{
        .header__icons-top--lin{
            border-top: 1px solid $btn;
            &::after{
                display: block;
            }
            .header__cart-items{
                transition: all .3s;
                padding: 25px 25px;
            }
        }

        .header__icons-menu{
            transition: all .3s;
            height: auto;
            overflow: visible;
            height: auto;
            overflow: visible;
            .header__icons-title{
                border-top: 1px solid $btn;
                &::before{
                    display: block;
                }
            }
            .header__icons-items{
                padding: 20px 0;
                transition: all .3s;
            }
        }
    }
    .header__icons-menu{
        width: 370px;
        z-index: 8;
        position: absolute;
        top: 59px;
        right: 0;
        height: 0;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        .header__icons-title{
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-top: 20px;
            border-top: 0px solid $btn;
            position: relative;
            span{
                font-size: 15px;
                color: $btn;
                padding-right: 20px;
            }
            &::before{
                display: none;
                font-family: 'icomoon';
                content: "\f0d8";
                position: absolute;
                top: -19px;
                right: 18px;
                font-size: 28px;
                color: $btn;
            }
        }
        a{
            display: inline;
            margin: 0 0;
        }
        .header__icons-items{
            display: flex;
            align-items: center;
            padding: 0px 0;
            width: 100%;
            border-top: 1px solid #e8ebf0;
            .header__icons-img{
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin: 0 20px;
            }
            .header__icons-text{
                position: relative;
                .header__icons-name{
                    position: relative;
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    &::after{
                        margin-left: 15px;
                        font-family: 'icomoon';
                        color: $btn;
                        content: "\f003";
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
                .header__icons-name-span{
                    color: #747a86;
                }
                span{
                    position: absolute;
                    right: -11px;
                    top: 0;
                    color: $btn;
                }
            }
        }
    }
}
.header__icons-alarm{
    .header__icons-items{
        max-width: 320px;
        margin: 0 auto;
    }
    .header__icons-img{
        margin-left: 0 !important;
        margin-right: 15px;
    }
    .header__alarm-text{
        text-align: left;
        max-width: 220px;
        font-weight: 600;
        font-style: 16px;
        position: relative;
        &::before{
            font-family: 'icomoon';
            content: "\f08a";
            right: -40px;
            top: 12px;
            height: 30px;
            width: 30px;
            color: $btn;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #e6f1fd;
            position: absolute;
        }
        &.comment-o{
            &::before{
                font-family: 'icomoon';
                content: "\f0e5";
                color: #7347c1;
                background-color: #f1ecf9;
            }
        }
        &.shopping-cart{
            &::before{
                font-family: 'icomoon';
                content: "\f07a";
                color: #ff6a6c;
                background-color: #fff0f0;
            }
        }
        &.star-o{
            &::before{
                font-family: 'icomoon';
                content: "\f006";
                color: #62d03a;
                background-color: #effaeb;
            }
        }
        .header__alarm-text-btn{
            color: $btn;
            font-size: 15px;
        }
        span{
            font-weight: 400;
            font-size: 15px;
            color: #747a86;
        }
        
    }
    .header__alarm-times{
        font-size: 14px;
        color: #747a86;
        font-weight: 400;
        margin-top: 5px;
    }
}
.inner__cart{
    position: relative;
    margin-top: 38px;
    padding-bottom: 38px;
    .header__icons-top--lin{
        border-top: 0px solid $btn;
        position: relative;
        &::after{
            display: none;
            font-family: 'icomoon';
            content: "\f0d8";
            position: absolute;
            top: -18px;
            right: 18px;
            font-size: 28px;
            color: $btn;
        }
    }
    .header__icons-menu{
        width: 400px;
        z-index: 6;
        position: absolute;
        top: 61px;
        right: 0;
        background-color: #fff;
        .header__cart-btn{
            display: flex;
            justify-content: space-between;
            a{
                justify-content: center;
                display: flex;
                align-items: center;
                width: 200px;
                padding: 24px 25px;
                color: #fff;
                margin: 0;
            }
            .Cart-link{
                background-color: #7347c1;
            }
            .Checkout{
                background-color: $btn;
            }
        }
        .header__cart-total{
            font-size: 18px;
            font-weight: 600;
            color: #000;
            text-align: right;
            width: 100px;
            margin-left: auto;
            margin-right: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        .header__cart-items{
            display: flex;
            padding: 0px 25px;
            border-bottom: 1px solid #e8ebf0;
        }
        .header__cart-text{
            text-align: left;
        }
        .header__cart-title{
            font-weight: 600;
            font-size: 16px;
            color: #000;
        }
        .header__cart-img{
            background-repeat: no-repeat;
            background-size: cover;
            height: 70px;
            width: 80px;
            margin-right: 20px;
        }
        .header__cart-delete{
            width: 35px;
            height: 35px;
            background-color: #f1ecf9;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto 10px;
            &::before{
                color: #818c98;
            }
        }
        .header__cart-price{
            background-color: #e6f1fd;
            border-radius: 24px;
            padding: 5px 20px;
            color: $btn;
            font-weight: 600;
            font-size: 16px;
        }
    }
}
.header__inner-menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    margin-top: 26px;
    position: relative;
    &:hover{
        .header__inner-list{
            transition: all .3s;
            padding: 20px 30px 30px;
            height: auto;
            overflow: visible;
            border-top: 1px solid $btn;
        }
    }
    .header__inner-list{
        overflow: hidden;
        border-top: 0px solid $btn;
        position: absolute;
        background-color: #fff;
        width: 270px;
        padding: 0px 30px 0px;
        z-index: 9;
        top: 75px;
        right: 0;
        height: 0;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        &::before{
            position: absolute;
            top: -21px;
            right: 39px;
            font-size: 28px;
            color: $btn;
        }
        li{
            a{  
                display: flex;
                width: 100%;
                border-radius: 2px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 5px;
                padding-left: 40px;
                color: #54667a;
                &::before{
                    position: absolute;
                    left: 40px;
                }
            }
        }
        li:first-child{
            a{  
                display: flex;
                width: 100%;
                background-color: $btn;
                border-radius: 2px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 40px;
                color: #fff;
            }
        }
    }
}
//header top end
//start menu header
.menu__inner{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-list{
        padding-left: 0;
        margin: 0;
        li{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            color: #333;
            display: inline-block;
            & + li{
                margin: 0 18px;
            }
        }
    }
    &-form{
        position: relative;
        color: $serch;
        font-size: 15px;
        input{
            width: 360px;
            padding: 12px 70px 12px 22px;
            border-radius: 28px;
            border: none;
            border: 1px solid #d9dfe5;
            overflow: hidden;
            outline: none;
        }
        button{
            position: absolute;
            right: 0;
            top: 0;
            background-color: $btn ;
            border: none;
            height: 42px;
            width: 68px;
            border-radius: 28px;
            outline: none;
        }
    }
}
//end menu
//start slider header
.header__slider{
    font-weight: 400;
    position: relative;
    height: 100%;
    display: block;
    text-align: center;
    min-height: 724px;
    background: linear-gradient(90deg, #5579fa, #3b61e9 );
}
.slider__items{
    margin-top: 180px;
    color: #f3f3f8;
    &-title{
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        span{
            display: block;
            font-weight: 600;
        }
    }
    &-text{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    &-btn{
        button{
            color: #fff;
            border: none;
            padding: 13px 30px;
            background-color: transparent;
            border: 1px solid #fff;
            margin-left: 30px;
            border-radius: 28px;
            outline: none;
            &:hover{
                background-color: #fff;
                color: $btn ;
            }
        }
    }
}
//end slider header
//sta
.header__forms{
    position: absolute;
    bottom: -69px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.header__forms-inner{
    z-index: 5;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 1140px;
    height: 137px;
    align-items: center;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    &::before{
        z-index: -1;
        top: -26px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 7px;
        position: absolute;
        content: '';
        width: 1080px;
        height: 130px;
        background-color: #fff;
        opacity: .5;
    }
    &::after{
        z-index: -1;
        top: -15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 7px;
        position: absolute;
        content: '';
        width: 1110px;
        height: 130px;
        background-color: #fff;
        opacity: .5;
    }
    
}
.header__forms-search{
    position: relative;
    color: $serch;
    font-size: 16px;
    margin-right: 20px;
    input{
        padding: 17px 195px 17px 22px;
        border-radius: 6px;
        border: none;
        border: 1px solid #d9dfe5;
        overflow: hidden;
        outline: none;
        width: 810px;
    }
    select{
        cursor: pointer;
        color: #555;
        z-index: 6;
        position: absolute;
        right: 0;
        top: 0;
        text-align: left;
        padding-left: 20px;   
        background-color: #fff;
        display: inline-block;
        border: none;
        height: 54px;
        width: 194px;
        border-radius: 6px;
        outline: none;
        border: 1px solid #d9dfe5;
        img{
            position: absolute;
            top: 22px;
            right: 12px;
        }
        &:hover{
            color: #fff;
            background-color: $btn;
            transition: .3s;
            img{
                fill: #fff;
                //img потрібно cvg
            }
        }
    }
}
.header__forms-btn{
    margin-left: 10px;
    a{
        padding: 15px 69px;
        color: #fff;
        border-radius: 6px;
        background-color: $btn;
        text-align: center;
    }
}
//end header
//start features
.features__inner{
    margin-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    &-item{
        margin: 60px 15px 0 15px; 
        text-align: center;
        max-width: 360px;
    }
}
.features__item{
    cursor: pointer;
    &-img{
        padding: 40px 0 30px 0;
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        color: #010101;
        margin-bottom: 10px;
    }
    &-text{
        padding: 10px 30px;
        color: $text;
        font-size: 16px;
        margin-bottom: 30px;
    }
    &:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}
//end features
//start product
.product__inner{
    position: relative;
    background-color: #eff1f5;
    padding: 120px 0;
}
.product__top{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 110px;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-title{
        margin-left: 30px;
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: 28px;
    }
    &-arrows{
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 110px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 22px;
        margin-right: 30px;
    }
}
.product-prev{
    padding-left: 0;
    background-color:#7347c1 ;
    height: 15px;
    width: 15px;
    margin-right: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.product-next{
    margin-left: 4px;
    background-color: #7347c1;
    height: 15px;
    width: 15px;
    padding-right: 0;
    outline: none;
    border: none;
    cursor: pointer;
}
.product__item{
    width: 100%;
    display: flex !important;
    &-img{
        width: 555px;
        border-radius: 6px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:hover &-hover{
            transition: .3s;
            height: 450px;
            display: flex;
        }
        &-hover{
            border-radius: 6px;
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            height: 0px;
            background: linear-gradient(90deg, #6e49b8, #0f70dd );
            a{
                text-align: center;
                width: 130px;
                color: #fff;
                font-size: 15px;
                padding: 10px 10px;
                border-radius: 22px;
                border: 1px solid #fff;
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}
.product__img-hover{
    &:hover{
        background-color: #fff;
        color: $btn;
        transition: .4s;
    }
}

.product__content{
    height: 450px;
    background-color: #fff;
    padding: 20px 50px 0 50px;
    &-title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 19px;
    }
    &-autor{
        display: flex;
    }
    &-text{
        height: 140px;
        width: 490px;
        overflow: hidden;
        padding: 0 10px 10px 0;
        color: $text;
        line-height: 24px;
    }
    &-tags{
        padding-bottom: 44px;
        border-bottom: 1px solid #ececec;
        a{
            color: #868c96;
            background-color: #f1f3f6;
            padding: 3px 10px;
            margin-right: 8px;
            border-radius: 13px;
        }
    }
}
.product__slider{
    display: flex;
}
.content__autor{
    align-items: center;
    margin-bottom: 30px;
    &-photo{
    margin-right: 10px; 
    max-height: 30px;
            a{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 30px;
            width: 30px; 
            border-radius: 50%;
        }   
    }
    &-name{
        color: #000;
        font-size: 15px;
    }
    &-tems{
        margin: 0 20px;
    }
}
.product__button{
    display: flex;
    align-items: center;
    margin-top: 37px;
    &-price{
        color: #fff;
        background-color: $btn;
        padding: 4px 15px;
        border-radius: 15px;
        margin-right: 10px;
    }
    &-foloves {
        padding: 0 10px;
    }
    &-carts {
        padding: 0 10px;
    }
    &-stars {
        margin-left: auto ;
    }
}
.product__button-foloves{
    position: relative;
    a{
        padding-left: 20px;
        &::before{
            top: 0;
            position: absolute;
            content: "\f08a";
            font-family: 'icomoon';
            left: 0;
            color: #7f4ec2;
        }
    }
}
.product__button-carts{
    position: relative;
    a{
        padding-left: 25px;
        &::before{
            top: 0;
            position: absolute;
            content: "\f07a";
            font-family: 'icomoon';
            left: 0;
            color: $btn;
        }
    }

}
//end products
//start release
.release{
    background-color: #f6f7fb;
    &__inner{
        padding: 100px 0;
    }
    &__header{
        border-radius: 6px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        height: 110px;
        align-items: center;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 30px;
    }
    &__title{
        margin-left: 30px;
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: 28px;
    }
    &__search{
        padding-right: 60px;
        color: #747b86;
        position: relative;
        &::before{
            position: absolute;
            content: "\f142";
            font-family: 'icomoon';
            right: 32px;
            top: 0;
            font-size: 20px;
        }
    }
}
.release__inner-btn{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 6px;
    button{
        border: none;
        padding: 5px 20px;
        border-radius: 16px;
        background-color: #f1f3f6;
        color: #747b86;
        outline: none;
        &.mixitup-control-active{
            background-color: $btn;
            color: #fff;
        }
    }
}
.release__inner-mix{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.release__inner-button{
    display: flex;
    justify-content: center;
    button{
        border: none;
        padding: 13px 30px;
        color: #fff;
        background-color: $btn;
        border-radius: 25px;
        &:hover{
            transition: .4s;
            background-color: $green;
        }
    }
}



//end release
//start follower
.follower{
    background-color: #eff1f5;
}
.follower__inner-top{
    padding: 54px 0 50px;
}
.follower__inner{
    padding-bottom: 100px;
}
.follower__inner-top-wrapper{
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 110px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    align-items: center;
    border-radius: 6px;
    margin-bottom: 50px;
}
.follower__top-title{
    margin-left: 30px;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    }
.follower__top-arrows{
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 45px;
    background-color: $btn;
    border-radius: 22px;
    margin-right: 30px;
}

.follower-prev{
    padding-left: 0;
    background-color: $btn ;
    height: 15px;
    width: 15px;
    margin-right: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.follower__content-foloves{
    a{
        position: relative;
        padding-left: 25px;
        &::before{
            position: absolute;
            content: "\f08a";
            font-family: 'icomoon';
            left: 0;
            color: #7f4ec2;
        }
    }
}
.follower__content-carts{
    a{
        position: relative;
        padding-left: 25px;
        &::before{
            position: absolute;
            content: "\f07a";
            font-family: 'icomoon';
            left: 0;
            color: $btn;
        }
    }

}
.follower-next{
    margin-left: 4px;
    background-color: $btn;
    height: 15px;
    width: 15px;
    padding-right: 0;
    outline: none;
    border: none;
    cursor: pointer;
}
.follower__item{
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    width: 100%;
    max-width: 360px;
    margin-bottom: 30px;
    &-img{
        display: flex;
        height: 230px;
        max-width: 360px;
        width: 100%;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:hover &-hover{
            transition: .3s;
            height: 230px;
            display: flex;
        }
        &-hover{
            border-radius: 6px;
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            height: 0px;
            width: 555px;
            background: linear-gradient(90deg, #6e49b8, #0f70dd );
            a{
                text-align: center;
                width: 130px;
                color: #fff;
                font-size: 15px;
                padding: 10px 10px;
                border-radius: 22px;
                border: 1px solid #fff;
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}
.follower__img-hover{
    &:hover{
        background-color: #fff;
        color: $btn;
        transition: .4s;
    }
}

.follower__content{
    max-height: 300px;
    &-title{
        color: #000;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-autor{
        display: flex;
    }
    &-text{
        height: 110px;
        width: 300px;
        overflow: hidden;
        padding: 0 10px 10px 2px;
        color: $text;
        line-height: 24px;
    }
}
.follower__slider{
    display: flex;
}
.follower__item-content{
    max-height: 300px;
    background-color: #fff;
    padding: 25px 20px 17px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.follower__content{
    &-price{
        color: $btn;
        background-color: #e6f1fd;
        padding: 4px 15px;
        border-radius: 15px;
        margin-right: 10px;
    }
    &-foloves {
        padding: 0 10px;
    }
    &-carts {
        margin-left: auto ;
    }
    
}
.follower__content-button{
    border-top: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
//end follower
//start fact
.fact{
    height: 350px;
    background-color: #212225;
}
.fact__inner{
    display: flex;
    height: 350px;
    align-items: center;
    text-align: center;
    background-color: #212225;
    justify-content: space-between;
}
.fact__items{
    width: 240px;
    margin: 0 10px;
    &-img{
        margin-bottom: 50px;
        height: 50px;
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
    &-number{
        font-size: 36px;
        span{
            margin-top: 17px;  
            display: block;
            font-size: 18px;
            color: #fff;
        }
    }
}
.items-number-1{
    color: #feb71d;    
}
.items-number-2{
    color: #58c9e9;
}
.items-number-3{
    color: #77de51;
}
.items-number-4{
    color: #ff6a6d;
}
//end facts
//start Choose
.choose {
    background-color: #fff;
}
.title{
    text-align: center;
    &-title{
        padding-top: 90px;
        margin-bottom: 30px;
        font-size: 36px;
        span{
            color: $btn;
        }
    }
    &-text{
        width: 700px;
        color: #555;
        font-size: 18px;
        padding: 0 15px 50px 15px;
        margin: 0 auto;
    }
}

.choose__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    &-item{
        position: relative;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        max-width: 360px;
        width: 100%;
        padding: 50px 20px 50px 20px;
        margin-bottom: 30px;
        &-img{
            height: 68px;
            position: relative;
            margin-bottom: 40px;
            img{
                position: absolute;
                top: 50;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        &-title{
            font-size: 24px;
            color: #000;
            margin-bottom: 22px;
            span{
                position: absolute;
                left: 20px;
                top: 28px;
                color: #5c87f8;
                opacity: .2;
                font-size: 48px;
            }
        }
        &-text{
            overflow: hidden;
            font-size: 16px;
            color: #555;
            padding: 0 10px 20px 10px;
        }
    }
}
//end choose
//start sell
.sell__inner{
    display: flex;
    height: 565px;
    margin: 0 auto;
    width: 100%;
}
.sell__items-left{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 50%;
    background-image: url(../images/seell-bg-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sell__items-right{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 50%;
    background-image: url(../images/seell-bg-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sell__items{
    text-align: center;
    margin: 0 auto;
    color: #fff;
    &-img{
        height: 104px;
        margin-bottom: 45px;
    }
    &-title{
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 34px;
    }
    &-text{
       max-width: 590px;
       margin-bottom: 45px;
    }
    &-btn{
        a{
            padding: 15px 30px;
            color: $btn;
            background-color: #fff;
            border-radius: 25px;
            &:hover{
                transition: .4s;
                color: #fff;
                background-color: $green;
            }
        }
    }
}
//end sell
//stars feedback 
.feedback__inner{
    position: relative;
    text-align: center;
    padding-bottom: 120px;
    a{
        padding: 13px 30px;
        color: #fff;
        background-color: $btn;
        border-radius: 25px;
        &:hover{
            transition: .4s;
            background-color: $green;
        }
    }
}
.feedback__slider{
    margin-bottom: 50px;
}
.feedback-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    top: 400px;    
    left: -25px;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}
.feedback-next{
    display: flex;
    align-items: center;
    justify-content: center;
    right: -25px;
    top: 400px;
    z-index: 9;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}
.feedback__items{
    margin: 30px 30px 30px 0;
    position: relative;
    border-left: 2px solid $btn;
    text-align: left;
    max-width: 555px;
    padding: 50px 40px;
    max-height: 315px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    &::before{
        content: '';
        position: absolute;
        right: 50px;
        top: 63px;
        height: 50px;
        width: 60px;
        background-image: url(../images/icons/bubble.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-author{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    &-photo{
        margin-right: 20px;   
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    &-name{
        font-size: 20px;
        color: #000;
        span{
            font-size: 16px;
            color: $text;
            display: block;
        }
    }
}
//end feedback
//start news
.news{
    background-color: $bg;
}
.news_inner{
    padding-bottom: 120px;
}
.news__item-wraper{
    display: flex;
    justify-content: space-between;
}
.news__item{
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 360px;
    background-color: #fff;
    padding-bottom: 80px;
    &-img{
        height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-title{
        font-size: 22px;
        color: #000;
        margin: 25px 0;
    }
    &-title-inner{
        text-align: left;
        padding: 0 25px;
       p{
           max-height: 100px;
           overflow: hidden;
       }
    }
    &-bottom{
        border-top: 1px solid #ececec;
        position: absolute;
        bottom: 0;
        display: flex;
        width: 310px;
        align-items: center;
        height: 60px;
    }
    &-time{
        padding-left: 25px;
        width: 50%;
        &::before{
            position: absolute;
            content: "\f017";
            color: $btn;
            font-family: 'icomoon';
            left: 0;
        }
    }
    &-shape{
        position: relative;
        width: 50%;
        display: flex;
        justify-content: space-around;
        &::before{
            content: '';
            position: absolute;
            height: 40px;
            width: 1px;
            background-color: #ececec;
            left: 0;
            top: -9px;
        }
        &__buble{
            position: relative;
            padding-left: 25px;
            &::before{
                position: absolute;
                content: "\f0e5";
                font-family: 'icomoon';
                left: 0;
            }
        }
        &__eye{
            padding-left: 25px;
            position: relative;
            padding-left: 25px;
            &::before{
                position: absolute;
                content: "\f06e";
                font-family: 'icomoon';
                left: 0;
            }
        }
    }
}
//end news
//start support
.support__inner{
    position: relative;
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        right: 0;
        left: 0;
        top: 0;
        margin: 0 auto;
        background-color: #ececec;
    }
    &-money{
        text-align: center;
    }
    &-guarantee{
        text-align: center;
    }
}
.support__title{
    margin-top: 35px;
    font-size: 24px;
    color: #000;
    span{
        color: $btn;
    }
}
.support__guarantee-title{
    span{
        color: #7347c1;
    }
}
//end support
//start baner
.baner{
    background: linear-gradient(90deg, #671e90, #0c37da );
}
.baner__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    &-title{
        font-size: 36px;
        margin: 100px 0 20px;
    }
    &-text{
        color: #e7e7e7;
        font-size: 18px;
        margin-bottom: 50px;
    }
    &-wrapper{
        a{
            width: 180px;
            padding: 13px 30px;
            color: $btn;
            background-color: #fff;
            border-radius: 25px;
            margin-bottom: 80px;
            &:hover{
                transition: .4s;
                background-color: $btn;
                color: #fff;
            }
        }
    }
}
//end baner
// start footer{
.footer{
    background-color: #262b30;
}
.foter__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    height: 95px;
    background-color: #192027;
    &-text{
        span{
            color: #fff;
        }
    }
}
.footer__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer__item{
    width: 200px;
    padding: 80px 0;
    margin: 0 16px;
    &-title{
        margin-top: 13px;
        font-size: 18px;
        color: #fff;
        margin-bottom: 25px;
    }
    &-list{
        line-height: 26px;
        a{
            margin: 4px 0;
        }
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
    a{
        color: #ababab;
    }
    p{
        margin-top: 5px;
        line-height: 26px;
        color: #ababab;
    }
}
.footer__item-marplase{
    width: 265px;
    .footer__email{
        &::before{
            position: absolute;
            content: "\f003";
            font-family: 'icomoon';
            left: 0;
        }
    }
    .footer__tel{
        &::before{
            position: absolute;
            content: "\f095";
            font-family: 'icomoon';
            left: 0;
        }
    }
    p{
        margin-bottom: 10px;
        margin-top: 15px;
    }
    a{  
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        &::before{
            position: absolute;
            content: "\e947";
            font-family: 'icomoon';
            left: 0;
        }
    }
}
.footer__item-newsletter{
    width: 405px;
    form{
        position: relative;
        margin-bottom: 40px;
        input{
            margin-top: 20px;
            font-size: 15px;
            padding: 12px 110px 12px 30px;
            width: 360px;
            background-color: #fff;
            border-radius: 23px;
            border: none;   
        }
        button{
            margin-top: 20px;
            position: absolute;
            left: 253px;
            top: -2px;
            color: #fff;
            padding: 12px 30px;
            border-radius: 23px;
            background-color: $btn;
            border: none;
        }
    }
}
.footer__item-logo{
    text-align: left;
    a{
        padding-left: 0;
        &::before{
            display: none;
        }
    }
      
}
.footer__item-icons{
    padding-top: 40px;
    li{
        display: inline-block;
        & + li{
            margin-left: 10px;
        }
        a{
            background-image: url(../images/icons/footer-icon.png);
            height: 42px;
            width: 42px;
            border-radius: 50%;
        }
    }
}
.link-facebook {
    background: url('css_sprites.png') -42px -0;
}
.link-twitter {
    background: url('css_sprites.png') -0 -0;
}
.link-google {
    background: url('css_sprites.png') -84px -42px;
}
.link-pinterest {
    background: url('css_sprites.png') -0 -42px;
}
.link-linkidin {
    background: url('css_sprites.png') -42px -42px;
}
.link-basket {
    background: url('css_sprites.png') -84px -0;
}
// end footer
//start new-item.html
.search{
    background: linear-gradient(90deg, #671e90, #0c37da );
    &__title{
        font-size: 26px;
        margin-bottom: 30px;
        color: #f3f3f8;
    }
    &__search{
        position: relative;
        input{
            width: 555px;
            height: 55px;
            color: #747b86;
            border: none;
            background-color: #fff;
            border-radius: 25px;
            padding-left: 30px;
            padding-right: 115px;
        }
        button{
            position: absolute;
            border-radius: 25px;
            background-color: $btn;
            color: #fff;
            right: -2px;
            top: 0;
            height: 55px;
            width: 110px;
            border: none;
        }
    }
}
.search__inner{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page{
    background: linear-gradient(90deg, #671e90, #0c37da );
    .search__inner{
        justify-content: start;
        padding-top: 15px;
        padding-bottom: 40px;
    }
    .breadcrumbs__list{
        margin-left: -10px;
    }
}
.new__page-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
//end search
//start filter
.filter{
    background-color: #fff;
    &__inner{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tegs{
        color: $text;
        a{
            margin-right: 30px;
        }
    }
}
.filter__list{
    position: relative;
    margin: 10px 30px;
    display: flex;
    &::before{
        z-index: 4;
        font-family: 'icomoon';
        content: "\f107";
        position: absolute;
        background-color: #fff;
        width: 30px;
        left: 470px;
        top: 12px;
        color: #000;
        font-size: 16px;
        line-height: 24px;
    }
    &::after{
        z-index: 4;
        font-family: 'icomoon';
        content: "\f107";
        position: absolute;
        background-color: #fff;
        width: 30px;
        left: 216px;
        top: 12px;
        color: #000;
        font-size: 16px;
        line-height: 24px;
    }
    select{
        margin-left: 30px;
        padding-left: 20px;
        border: none;
        color: #747b86;
        height: 47px;
        width: 220px;
        border: 1px solid #eceff2;
        border-radius: 6px;
    }
}
.filter__list-categori{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 95px;
    border: 1px solid #eceff2;
    border-radius: 6px;
    margin-left: 30px;
    button{
        cursor: pointer;
        height: 40px;
        width: 40px;
        font-size: 20px;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        background-color:transparent;
        .active{
            color: $btn;
        }
    }
    input{
        height: 20px;
        width: 20px;
        font-size: 20px;
        border: none;
        background-color:transparent; 
    }
    .icon-unsorted{
        font-size: 18px;
    }
    .icon-sort-amount-asc{
        font-size: 18px;
    }
}
.list-active{
    display: flex;
    .sidebar__product-inner {
        height: auto;
        width: auto;
        .inner__sidebar-img{
            height: 100%;
            min-height: 210px ;
            min-width: 230px;
        }
        .inner__sidebar-content{
            display: flex;
            width: 100%;
            &::before{
                display: none;
            }
        }
        .inner__sidebar-title{
            overflow: hidden;
            margin-top: 20px;
            max-width: 255px;
            font-size: 18px;
            font-weight: 600;
            padding-right: 10px;
            margin-right: 20px;
            padding-bottom: 20px;
            position: relative;
            .inner__sidebar-text{
                display: block;
                max-width: 210px;
                font-size: 16px;
                font-weight: 400;
                color: $text;
                margin-right: 0;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .inner__sidebar-tems--on{
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &::before{
                content: '';
                position: absolute;
                right: 0px;
                top: 0;
                height: 150px;
                width: 1px;
                background-color: #ececec;
            }
            
        }
        .inner__sidebar-doun{
            display: block;
            position: relative;
            margin-top: 60px;
            padding-left: 20px;
            margin: 70px auto 0;
            text-align: center;
            .inner__sidebar-tems{
                display: none;
            }
            .inner__sidebar-carts{
                display: block;
                font-size: 15px;
                font-weight: 600;
                padding-left: 20px;
                &::before{
                    left: 15px;
                    font-size: 15px;
                }
            }
            .inner__sidebar-price{
                padding: 4px 35px;
                margin-bottom: 30px;
            }
        }
        .inner__sidebar-author-stars{
            span{
                color: $text;
                font-size: 16px;
            }
        }
        .inner__sidebar-author{
            display: block;
            position: relative;
            padding-right: 20px;
            &::before{
                content: '';
                position: absolute;
                right: 1px;
                top: 0;
                height: 150px;
                width: 1px;
                background-color: #ececec;
            }
           .inner__sidebar-author-box{
               display: inline-block;
           } 
           .inner__sidebar-author--box{
               display: flex;
               align-items: center;
               margin-bottom: 20px;
               margin-top: 20px;
           }
        }
        .inner__sidebar-button{
            display: none;
        }
        .inner__sidebar-foloves{
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            &::before{
                font-size: 16px;
                left: 0;
                position: absolute;
                font-family: 'icomoon';
                content: "\f08a";
                color: #7f4ec2;
                font-weight: 600;
            }
        }
        .inner__sidebar-coment{
            position: relative;
            padding-left: 20px;
            padding-bottom: 13px;
            &::before{
                font-size: 16px;
                left: 0;
                position: absolute;
                font-family: 'icomoon';
                content: "\f0e5";
                color: #7f4ec2;
                font-weight: 600;
            }
        }
        .jq-ry-container{
            padding: 0 0;
        }

    }
    
}
.inner__sidebar-author-box{
    display: none;
}
.active-list{
    display: flex;
}
.inner__sidebar-tems--on{
    display: none;
}
.filter__list-list-icon{
    margin-left: 15px;
}
.active{
    color: $btn;
}
.inner__sidebar-text{
    display: none;
}
//end filter
//start sidebar
.sidebar{
    background-color: #eff1f5;
}
.sidebar__inner{
    position: relative;
    padding-top: 80px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.sidebar__box{
    min-width: 265px;
    margin-right: 25px;
    button{
        justify-content:space-around;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 65px;
        width: 265px;
        background-color: #fff;
        border-radius: 6px;
        font-size: 20px;
        color: #010101;
        border: none;
        background-color: #fff;
        &::after{
            content: "\f107";
            margin-left: 40px;
            font-family: 'icomoon';
        }
    }
    &-list{
        span{
            color: $text;
            position: absolute;
            right: 0;
        }
    }
}
.sidebar__box-categori{  
    .sidebar__box-list-categori{
        padding-top: 35px;
        border-top: 1px solid #eceff2;
        margin-top: 25px;
        li{
            margin-bottom: 10px;
            padding-left: 25px;
            position: relative;
            &::before{
                font-size: 18px;
                position: absolute;
                top: 0;
                left: 0;
                content: "\f105";
                font-family: 'icomoon';
            } 
        }
    }
}
.list-box{
    display: none;
}
.sidebar__box-product{
    .sidebar__box-list-product{
        padding-top: 35px;
        border-top: 1px solid #eceff2;
        margin-top: 25px;
        li{
            margin-bottom: 10px;
            padding-left: 25px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid #555;
            } 
        }
    }
}
.sidebar__box--categori{
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    a{
        color: #fff;
        background-color: $btn;
        border-radius: 25px;
        padding: 10px 20px;
        margin-top: 80px;
    } 
}
.sidebar__box-inner{
    position: relative;
    max-width: 265px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 45px 25px 25px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 6px;
}


//start sidebar__product
.sidebar__product{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: relative;
    &-inner{
        margin: 0 20px 20px 0;
        border-radius: 6px;
        overflow: hidden;
        width: 262px;
        height: 375px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    .inner__sidebar{
        position: relative;
        &-img{
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            width: 262px;
            height: 160px;
        }
        &-content{
            padding: 14px 20px;
            &::before{
                content: '';
                position: absolute;
                height: 1px;
                bottom: 51px;
                left: 0;
                width: 100%;
                background-color: #ececec;
            }
        }
        &-title{
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 18px;
        }
        &-author{
            margin: 20px 0;
            display: flex;
            align-items: center;
        }
        &-photo{
        height: 28px;
        width: 28px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-right: 10px;
        }
        &-name{
            color: #000;
        }
        &-tems{
           margin-left: 65px;
        }
        &-button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
        &-price{
            background-color: #e6f1fd;
            color: $btn;
            left: 0;
            bottom: 0;
            padding: 3px 14px;
            font-weight: 600;
            border-radius: 25px;
        }
        &-carts{
            position: relative;
            color: $btn;
            &::before{
                font-size: 18px;
                position: absolute;
                top: -2px;
                left: -28px;
                content: "\f07a";
                font-family: 'icomoon';
            } 
            a{
                color: $btn;
            }
        }
        &-doun{
            bottom: 10px;
            position: absolute;
            margin-top: 22px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .inner__sidebar-carts{
                display: none;
            }
        }
    }
}
.pagination-sidebar{
    position: absolute;
    bottom: 90px;
    right: 0;
    &__inner{
        display: flex;
        align-items: center;
        .pagination-active{
            background-color: $btn;
            color: #fff;
        }
        .pagination-active__arrow{
            a{
                background-color: #7347c1;
                
            }    
            &::before{
                color: #fff;
            }
        }
        li{
            &:first-child{
                margin-right: 20px;
            }
            &:last-child{
                margin-left: 20px;
            }
        }
        a{
            color: #747b86;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            line-height: 15px;
            height: 38px;
            width: 50px;
            background-color: #fff;
            border-radius: 25px;
        }
    }
}
.pagination__arrow-left{
    position: relative;
    &::before{
        position: absolute;
        content: "\f177";
        font-family: 'icomoon';
        right: 17px;
        top: 7px;
    }
}
.pagination__arrow-right{
    position: relative;
    &::before{
        position: absolute;
        content: "\f178";
        font-family: 'icomoon';
        left: 24px;
        top: 7px;
    }
}
.irs-min, 
.irs-max{
    display: none;
}
.irs--flat .irs-line{
    background-color: #efedf3;
    height: 5px;
}
.irs--flat .irs-bar{
    background-color: #7347c1;
    height: 5px;
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid #0674ec;
    background-color: #fff;
    border-radius: 50%;

}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs-from, .irs-single, .irs-to{
    top: 60px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #7347c1;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: #f1ecf9;
    padding: 5px 20px;
    border-radius: 25px;
}
.irs--flat .irs-handle{
    top: 19px;
}
  



@import 'media';